@import "reset";
@import "variables";
@import "button";
@import "input";
@import "app-bar";
@import "drawer";
@import "layout";
@import "card";
@import "typography";
@import "dialog";
@import "chips";
@import "~@material/theme/mdc-theme";
@import "~@material/icon-button/mdc-icon-button";


$mdc-theme-background: background(normal);

.text-centered {
  text-align: center;
}

.card-login {
  background-color: background(normal);
  border-radius: $card-border-radius;
  @include shadow(0px, 1px, 3px);
  padding: 16px;
}

.card-login-title {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: white;
}

.card-login-subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 32px;
  color: rgba(255,255,255,.7);
}

.card-login-form {
  min-width: 329px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 8px;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.button-group {
  display: grid;
  grid-row-gap: 6px;
  margin-top: 8px;
  grid-auto-flow: column;
  grid-column-gap: 8px;
  justify-content: start;
}