@import "reset";
@import "variables";
@import "button";
@import "input";
@import "app-bar";
@import "drawer";
@import "layout";
@import "card";
@import "typography";
@import "~@material/theme/mdc-theme";
@import "~@material/icon-button/mdc-icon-button";
$mdc-theme-background: background(normal);
/*
body {
  background-color: background(normal);
}*/

.test {
  height: 100px;
  background-color: red;
}

.card-login {
  background-color: background(normal);
  border-radius: $card-border-radius;
  @include shadow(0px, 1px, 3px);
  padding: 16px;
}

.card-login-title {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: white;
}

.card-login-subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 32px;
  color: rgba(255,255,255,.7);
}

.card-login-form {
  min-width: 329px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 8px;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.form-group {/*
  display: grid;
  grid-row-gap: 6px;*/
/*
  label {
    font-size: 12px;
    color: rgba(255,255,255,.54);
  }

  input {
    border: 0;
    border-bottom: 2px solid #80CBC4;
    padding-bottom: 9px;
    background-color: #00000000;
    font-size: 16px;
    color: rgba(255,255,255, .38);
  }

  input:focus {
    outline: 0;
  }*/

}
/*
.btn-contained {
  background-color: color(primary);
}

.btn-text {
  background-color: #00000000;
  color: color(primary) !important;
}

.btn {
  text-transform: uppercase;
  border: none;
  color: #000;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  border-radius: $card-border-radius;
  cursor: pointer;
}
*/
.button-group {
  display: grid;
  grid-row-gap: 6px;
  margin-top: 8px;
  grid-auto-flow: column;
  grid-column-gap: 8px;
  justify-content: start;
}