@import "variables";
@import "~@material/button/mdc-button";

/*
  Base class for every button
  Add btn-colored if you want a colored button
  Add btn-text if you want a text button
  Add btn-raised if you want an elevation for your button
*//*
.btn {
  text-transform: uppercase;
  min-width: 64px;
  min-height: 36px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-decoration: none;
  display: grid;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  border-radius: $card-border-radius;
}*/

/* Class for colored button *//*
.btn-colored {
  padding: 0 16px;
  background-color: color(primary);
  color: #fff;
  border: none;
}*/

/* Class for text button *//*
.btn-text {
  padding: 0 8px;
  background-color: #00000000;
  border: none;
  color: color(primary);
  transition: background-color 0.1s;
}*/

/* Class for raised button *//*
.btn-raised {
  @include shadow(0, 2px, 2px);
  transition: box-shadow 0.1s;
}*/

/* When a raised button is pressed *//*
.btn-raised:active {
  @include shadow-colored(0, 8px, 8px, rgba(0, 0, 0, .24));
}*/

/* When a text button is pressed *//*
.btn-text:active {
  background-color: #99999914;
}*/