@import "~@material/card/mdc-card";

.form-card {
  padding: 16px;
  align-self: center;

  .form-card-title {
    margin: 0;
    text-align: center;
  }

  .form-card-subtitle {
    margin: 0;
    text-align: center;
  }

  .text-field-group {
    width: 100%;
  }

  form {
    margin-top: 32px;

    .text-field {
      //margin-bottom: 16px;
    }

    .button-group {
      margin-top: 16px;
    }
  }
}

.dashboard-capsule-card {

  .dashboard-capsule-card-primary {
    padding: 16px 16px 16px;
  }

  h3 {
    font-size: 24px;
    margin: 0;
  }

  p {
    font-size: 14px;
    margin: 14px 0 0;
  }

  .dashboard-capsule-card-action {
    padding: 16px 16px 16px;
  }
}