{% extends 'base.html.twig' %}

{% block title %}Edit Capsule{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/edit-capsule.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    <script src="/build/edit-capsule.js"></script>
{% endblock %}
