<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Capsule App - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/build/app.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet">
        {% endblock %}
    </head>
    <body class="{{ bodyClasses is not defined ? '' : bodyClasses }} mdc-theme--background">
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/build/app.js"></script>
            <script>
              if (window.mdcAutoInit() !== undefined) {
                window.mdcAutoInit();
              }
            </script>
        {% endblock %}
    </body>

</html>
