{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    {% for capsule in capsules %}
        <div>
            <p>{{ capsule.title }}</p>
            <p>{{ capsule.description }}</p>
        </div>
    {% endfor %}
{% endblock %}
